.title {
  text-align: center;
  font-size: 40px;
  margin-bottom: 20px;
}

.spinner {
  margin: 0 auto;
  width: 100px;
  height: 100px;
  margin-top: 50px;
}

.modal {
  width: 280px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  background-color: #e0c9ff;
  border-radius: 12px;
  padding: 30px 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.overlay {
  position: fixed;
  inset: 0px;
  background-color: rgba(46, 43, 43, 0.837);
}
