.form {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  max-width: 422px;
  gap: 8px;
  background-color: #e0c9ff;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.btn {
  min-width: 100px;
  margin: 0 auto;
  margin-top: 10px;
  padding: 12px;
  border-radius: 4px;
  background-color: rgb(171, 53, 230);
  font-weight: 600;
  transition: background-color 0.4s linear, transform 0.4s linear;
  &:hover {
    background-color: rgb(153, 0, 255);
    transform: scale(1.1);
  }
}

.input {
  padding: 6px;
  outline: transparent;
  border: none;
  border-radius: 4px;
  width: 100%;
}

.label {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.error {
  color: red;
}
