.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 16px;
  max-width: 900px;
}

.item {
  padding: 10px;
  border: 1px solid black;
  border-radius: 4px;
  box-shadow: 10px 5px 5px gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.4s linear;
  &:hover {
    transform: scale(1.05);
  }
}

.error {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
